.sidebar-logo {max-width: 230px; background: white; border-radius: 6px; padding: 8px;}
.content {font-size: 1rem;} h1 {letter-spacing: -.025em;}
a {text-underline-offset: 3px;} .highlight {border-left: 3px solid #0087dd;}
article img.brand {width:100%; max-width: 760px; background: white;}
